
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standing Rock Environmental Data</title>
</head>
{% load static %}
<body>
<center><h1>Standing Rock Reservation</h1></center>
<img src="{% static 'images/standing_rock.jpg' %}" alt="Workplace" usemap="#workmap">

<map name="workmap">
  <area shape="rect" coords="34,44,270,350" alt="Carson" href="../Carson">
  <area shape="rect" coords="290,172,333,250" alt="Fort_Yates" href="../Fort_Yates">
  <area shape="circle" coords="337,300,44" alt="Linton" href="../Linton">
</map>

<form action="/action_page.php">
  <h3> Select First County </h3>
  <input type="radio" id="Carson" name="first_county" value="C">
  <label for="Carson">Carson</label><br>
  <input type="radio" id="Fort_Yates" name="first_county" value="F">
  <label for="Fort_Yates">Fort Yates</label><br>
  <input type="radio" id="Linton" name="first_county" value="L">
  <label for="Linton">Linton</label><br><br>

  <h3> Select Data Set for First County </h3>
  <input type="radio" id="Average_Bare_Soil_Temp" name="data1" value="BS">
  <label for="Average_Bare_Soil_Temp">Average Bare Soil Temperature</label><br>
  <input type="radio" id="Average_Dew_Point" name="data1" value="DP">
  <label for="Average_Dew_Point">Average Dew Point</label><br>
  <input type="radio" id="Average_Penman_PET" name="data1" value="PENPET">
  <label for="Average_Penman_PET">Average Penman PET</label><br>
  <input type="radio" id="Average_Turf_Soil_Temp" name="data1" value="TSP">
  <label for="Average_Turf_Soil_Temp">Average Turf Soil Temperature</label><br>
  <input type="radio" id="Average_Wind_Chill" name="data1" value="WC">
  <label for="Average_Wind_Chill">Average Wind Chill</label><br>
  <input type="radio" id="Average_Wind_Speed" name="data1" value="WS">
  <label for="Average_Wind_Speed">Average Wind Speed</label><br>
  <input type="radio" id="Average_Temperature" name="data1" value="AT">
  <label for="Average_Temperature">Average Temperature</label><br>
  <input type="radio" id="Max_Wind_Speed" name="data1" value="MWS">
  <label for="Max_Wind_Speed">Max Wind Speed</label><br>
  <input type="radio" id="Max_Temperature" name="data1" value="MaxT">
  <label for="Max_Temperature">Maximum Temperature</label><br>
  <input type="radio" id="Min_Temperature" name="data1" value="MinT">
  <label for="Min_Temperature">Minimum Temperature</label><br>
  <input type="radio" id="Total_Penman_PET" name="data1" value="TPP">
  <label for="Total_Penman_PET">Total Penman_PET</label><br>
  <input type="radio" id="Total_Solar_Radiation" name="data1" value="TSR">
  <label for="Total_Solar_Radiation">Total Solar Radiation</label><br><br>

  <h3> Select Second County </h3>
  <input type="radio" id="Carson" name="second_county" value="C">
  <label for="Carson">Carson</label><br>
  <input type="radio" id="Fort_Yates" name="second_county" value="F">
  <label for="Fort_Yates">Fort Yates</label><br>
  <input type="radio" id="Linton" name="second_county" value="L">
  <label for="Linton">Linton</label><br>
  <input type="radio" id="None" name="second_county" value="None">
  <label for="None">None</label><br><br>

  <h3> Select Data Set for Second County </h3>
  <input type="radio" id="Average_Bare_Soil_Temp" name="data1" value="BS">
  <label for="Average_Bare_Soil_Temp">Average Bare Soil Temperature</label><br>
  <input type="radio" id="Average_Dew_Point" name="data1" value="DP">
  <label for="Average_Dew_Point">Average Dew Point</label><br>
  <input type="radio" id="Average_Penman_PET" name="data1" value="PENPET">
  <label for="Average_Penman_PET">Average Penman PET</label><br>
  <input type="radio" id="Average_Turf_Soil_Temp" name="data1" value="TSP">
  <label for="Average_Turf_Soil_Temp">Average Turf Soil Temperature</label><br>
  <input type="radio" id="Average_Wind_Chill" name="data1" value="WC">
  <label for="Average_Wind_Chill">Average Wind Chill</label><br>
  <input type="radio" id="Average_Wind_Speed" name="data1" value="WS">
  <label for="Average_Wind_Speed">Average Wind Speed</label><br>
  <input type="radio" id="Average_Temperature" name="data1" value="AT">
  <label for="Average_Temperature">Average Temperature</label><br>
  <input type="radio" id="Max_Wind_Speed" name="data1" value="MWS">
  <label for="Max_Wind_Speed">Max Wind Speed</label><br>
  <input type="radio" id="Max_Temperature" name="data1" value="MaxT">
  <label for="Max_Temperature">Maximum Temperature</label><br>
  <input type="radio" id="Min_Temperature" name="data1" value="MinT">
  <label for="Min_Temperature">Minimum Temperature</label><br>
  <input type="radio" id="Total_Penman_PET" name="data1" value="TPP">
  <label for="Total_Penman_PET">Total Penman_PET</label><br>
  <input type="radio" id="Total_Solar_Radiation" name="data1" value="TSR">
  <label for="Total_Solar_Radiation">Total Solar Radiation</label><br><br>

  <input type="submit" value="Submit">
</form>

</body>
</html> 